[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/nanogui"]
	path = external/nanogui
	url = https://github.com/Godzil/nanogui.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/lodepng"]
	path = external/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "external/coveralls-cmake"]
	path = external/coveralls-cmake
	url = https://github.com/JoakimSoderberg/coveralls-cmake.git
